<extend name="../../Home/View/Public/base" />
<block name="page-content">
    <div class="view-product">
        <div class="info-center">
            <div class="search_style table-margin">
                <div class="title_names text-blue">商品审核</div>
               <!--  <ul class="search_content clearfix">
                    <li class=''><a href="{:U()}"><button class="btn_search button bg-orange">刷新</button></a></li>
                </ul> -->
            </div>
                 <div class="col-lg-6">
                      <section class="panel">
                         <!--  <header class="panel-heading">
                              Basic Forms
                          </header> -->
                          <div class="panel-body">
                              <!-- <form role="form" action='' method="post"> -->
                                  <div class="form-group">
                                      <label for="exampleInputEmail1">商品名称</label>
                                      <input type="text" class="form-control" name='name' id='name' value="{$info.product_name}" readonly>
                                  </div>
                                  <div class="form-group">
                                      <label for="exampleInputPassword1">价格</label>
                                      <input type="text" class="form-control"  name='price' id='price' value="{$info.price}" readonly>
                                  </div>
                                  <div class="form-group">
                                      <label for="exampleInputPassword1">产品详情</label>
                                      <input type="text" class="form-control" name='info' id='info' value="{$info.product_info}" readonly>
                                  </div>
                                  <div class="form-group">
                                      <label for="exampleInputPassword1">商品类型</label>
                                      <input type="text" class="form-control" name='info' id='info1' value="{$info.product_type}" readonly>
                                  </div>
                                  <div class="form-group">
                                      <label for="exampleInputFile">商品图片</label>
                                      <volist name="img" id="vo">
                                        <img src="{$vo}" style="width:100px;height:100px">
                                      </volist>
                                  </div>
                                  <input style="cursor: pointer;outline: none;" type="hidden" name="product_id" id="user-name" value="{$info.product_id}">
                                  <div class='zhixing'>
                                  <!-- <a href="{:U("Product/approval")}?product_id={$info.product_id}&type={$type}&style=1"><button class="btn btn-primary">通过</button></a>
                                  <a href="{:U("Product/approval")}?product_id={$info.product_id}&type={$type}&style=2"><button class="btn btn-primary">拒绝</button></a> -->
                                  <span style="display:none" id='product_id'>{$info.product_id}</span>
                                  <span style="display:none" id='dtype'>{$type}</span>
                                  <button class="btn btn-primary" id='tg'>通过</button>
                                  <button class="btn btn-primary" id='jj'>拒绝</button>
                                  </div>
                              <!-- </form> -->

                          </div>
                      </section>
                  </div>
        </div>
    </div>
    <style type="text/css">
      .zhixing{
        text-align: center;
      }
    </style>
    <script src="//cdn.bootcss.com/jquery/1.12.1/jquery.min.js"></script>

    <script type="text/javascript">
    var product_id = $("#product_id").text();
        dtype = $("#dtype").text();
    $('#tg').click(function(event) {
                layer.confirm('确认通过吗？', {
                        btn : [ '确定', '取消' ]//按钮
                    }, function(index) {
                        layer.close(index);
                         $.ajax({
                                url: "approval",
                                type: "POST",
                                data: {
                                    product_id:product_id,
                                    type:dtype,
                                    style:1,
                                },
                                success:function(data){
                                    if (data.code==0) {
                                        layer.open({
                                            content:"审核成功"
                                        });
                                        setTimeout(function(){
                                          window.location.href="review";
                                        },1000);
                                    }else{
                                        layer.open({
                                            content:"审核失败"
                                        });
                                    }
                               },
                       });
                    }); 
                event.stopPropagation();
               
            });
        $('#jj').click(function(event) {
                layer.confirm('确认通过吗？', {
                        btn : [ '确定', '取消' ]//按钮
                    }, function(index) {
                        layer.close(index);
                         $.ajax({
                                url: "approval",
                                type: "POST",
                                data: {
                                    product_id:product_id,
                                    type:dtype,
                                    style:2,
                                },
                                success:function(data){
                                    if (data.code==0) {
                                        layer.open({
                                            content:"审核成功"
                                        });
                                        setTimeout(function(){
                                          window.location.href="review";
                                        },1000);
                                    }else{
                                        layer.open({
                                            content:"审核失败"
                                        });
                                    }
                               },
                       });
                    }); 
                event.stopPropagation();
               
            });
    </script>

</block>

