<extend name="../../Home/View/Public/base" />
<block name="page-content">
    <div class="view-product">
        <div class="info-center" >
            <div class="search_style table-margin">
                <div class="title_names text-blue">商品添加</div>
                <ul class="search_content clearfix">
                    <li class=''><a href="{:U()}"><button class="btn_search button bg-orange">刷新</button></a></li>
                </ul>
            </div>
                 <div class="col-lg-6">
                      <section class="panel">
                         <!--  <header class="panel-heading">
                              Basic Forms
                          </header> -->
                          <div class="panel-body " style="padding-bottom:80px;">
                              <form role="form" action='{:U("product/goodsAdd_run")}' method="post" enctype="multipart/form-data" onSubmit="return beforeSubmit(this);">
                                  <div class="form-group">
                                      <label for="exampleInputEmail1">商品名称</label>
                                      <input type="text" class="form-control" name='name' id='name'>
                                  </div>
                                  <div class="form-group">
                                      <label for="exampleInputPassword1">价格</label>
                                      <input type="text" class="form-control"  name='price' id='price'>
                                  </div>
                                  <div class="form-group">
                                      <label for="exampleInputPassword1">产品详情</label>
                                      <input type="text" class="form-control" name='info' id='info'>
                                  </div>
                                  <select class="form-control input-lg m-bot15" name='type'>
                                    <option value='2'>旅游摄影</option>
                                    <option value='3'>旅游项目</option>
                                    <option value='4'>健身器材</option>
                                    <option value='5'>生活用品</option>
                                  </select>
                                  <div class="form-group" style="position:relative">
                                    <label for="exampleInputFile">商品图片</label>
                                    <div class="license1">
                                      <div class="preview prev">
                                        <div class="add_pic">
                                            <input type="file" id="picture" name="file1" onchange="preview1(this)"/>
                                            <img src="__PUBLIC__/admin/img/jia_pic.png" alt="">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                <input type="submit" class="btn btn-primary" value='提交' style="display:block">
                              </form>

                          </div>
                      </section>
                  </div>
        </div>
    </div>
<style type="text/css">
  .preview{
    width: 120px;
    height: 120px;
    position: relative;
    margin-right: 20px;
  }
  .add_pic img{
    width: 120px;
    height: 120px;
    position: absolute;
    left: 0px;
    top:0px;
  }
  .add_pic input[type="file"]{
     width: 120px;
    height: 120px;
    position: absolute;
    left: 0px;
    top:0px;
    z-index: 999;
    opacity: 0;
  }
  .pic{
    position: absolute;
    top:0px;
    left: 0px;
  }
  .del_pic1{
    position: absolute;
    z-index: 999;
    right: -8px;
    top:-8px;
  }
  .btn-primary{
    position: absolute;
    margin-top: 120px;
  }
</style>
    <script src="//cdn.bootcss.com/jquery/1.12.1/jquery.min.js"></script>

    <script type="text/javascript">
        function beforeSubmit(form){
            if($("#name").val()==''){
            alert('商品名称不能为空！');
            return false;
            }

            if($("#price").val()=='' || isNaN($("#price").val())){
            alert('价格不能为空！');
            return false;
            }

            if($("#info").val()==''){
            alert('商品详情不能为空！');
            return false;
            }
            if($("#exampleInputFile").val()==''){
            alert('图片不能为空！');
            return false;
            }
        }
            //门店照片
    function preview1(file){
        var fileText=$(file).val();
         if(fileText==""){
            return false;
        }
        if(!/.(gif|jpg|jpeg|png|GIF|JPG|JPEG|PNG)$/.test(fileText)){  
            layer.open({
                closeBtn:0,
                type:0,
                content:"图片类型必须是gif,jpeg,jpg,png中的一种",
                // success:function (layer){
                //     $(".layui-layer-content").css({"height":"110px","padding-top":"40px"})
                // }
            })
            $(file).val('');
            return false;
        }
            p2 = 1;
            if (file.files && file.files[0]){
                var reader = new FileReader();
                reader.onload = function(evt){
                    var prevDiv =
                        '<div>'+
                        '<img  style="width:120px;height:120px" class="pic" src="' + evt.target.result + '" />'+
                        '<img class="del_pic1" src="__PUBLIC__/admin/img/delete.png" onclick="del_pic1(this)" alt="">'+
                        '</div>';
                    $(file).parent().parent().append(prevDiv);
                    var timestamp = Date.parse(new Date());
                     if($(".prev").length<4){
                        var str =
                            '<div class="preview prev">'+
                            '<div class="add_pic">'+
                            '<input type="file" name="file'+timestamp+'" onchange="preview1(this)"/>'+
                            '<img src="__PUBLIC__/admin/img/jia_pic.png" alt="">'+
                            '</div>'+
                            '</div>';
                        $(".license1").append(str);
                    }
                };
                reader.readAsDataURL(file.files[0]);
            }else{
                prevDiv.innerHTML = '<div class="img" src=file.value></div>';
            }
    }
    function del_pic1(obj){
            $(obj).parent().parent().remove()
            if($(".prev").length == 1){
                p2 = 0;
            }
             var piclen=$(".pic").length;
             if(piclen==0){
                $(".prev").remove();
                     var str =
                    '<div class="preview prev">'+
                    '<div class="add_pic">'+
                    '<input  type="file" name="file1" onchange="preview1(this)"/>'+
                    '<img src="__PUBLIC__/admin/img/jia_pic.png" alt="">'+
                    '</div>'+
                    '</div>';
                $(".license1").append(str)
                console.log($(".prev").length)
            }
            //如果只存在一个图片时，添加一个加号
            if(piclen==3){
                     var str =
                    '<div class="preview prev">'+
                    '<div class="add_pic">'+
                    '<input  type="file" name="file1" onchange="preview1(this)"/>'+
                    '<img src="__PUBLIC__/admin/img/jia_pic.png" alt="">'+
                    '</div>'+
                    '</div>';
                $(".license1").append(str)
                console.log($(".prev").length)
            }
        }
    </script>>

</block>

