<extend name="../../Home/View/Public/base" />

</style>
<block name="page-content">
    <div class="view-product">
        <div class="info-center">
            <form role="form" method="POST">
                <div class="search_style table-margin">
                    <div class="title_names text-blue">审批列表</div>
                    <ul class="search_content clearfix">
                        <!-- <li class='w30'>
                            <input type="text" placeholder="商品名字" value="{$product_name}" class="w100 height34 border" id="product_name" name='product_name'>
                        </li> -->
                       <!--  <li class=''><button type="submit" class="btn btn-success" id="" name="">搜索</button></li> -->
                        <!-- <li class=''><button class="btn_search button bg-blue" id="search"><i class="fa fa-search"></i> 搜索</button></li> -->
                        <li class=''><a href="{:U()}"><button class="btn_search button bg-orange">刷新</button></a></li>
                    </ul>
                </div>
            </form>
            <div class='state'>
                <span class='type'><a href="review?type=2">待审核</a></span> 
                <span class='type'><a href="review?type=3">待复核</a></span> 
                <span class='type'><a href="review?type=4">确认上架</a></span>
            </div>
            
            <div class="table-margin ">
                <notempty  name="list">
                    <table class="table table-hover">
                        <tr class="table-header border">
                            <th class="w5">编号</th>
                            <th class="w10">商品类型</th>
                            <th class="w10">商品名</th>
                            <th class="w10">价格</th>
                            <th class="w20">商品详情</th>
                            <th class="w20">商品图片</th>
                            <th class="w15">创建时间</th>
                            <th class="w10">商品状态</th>
                            <th class="w15">商品操作</th>
                        </tr>

                        <tbody id="itemContainer">
                        <volist name="list" id="item">
                            <tr class="list" id="tae_{$item.product_id}">
                                <td>{$item.product_id}</td>
                                <td>{$item.product_type}</td>
                                <td>{$item.product_name}</td>
                                <td>{$item.price}</td>
                                <td>{$item.product_info}</td>
                                <td><img src="{$item.images}" style="width:100px;height:100px"></td>
                                <!-- <td>{$item.images}</td> -->
                                <!--<td>{$item.qq}</td>-->
                                <!--<td>{$item.province}</td>-->
                                <!--<td>{$item.city}</td>-->
                                <!--<td>{$item.county}</td>-->
                                <td>{$item.ctime|date='Y-m-d H:i', ###}</td>
                                <eq name="item.status" value="1" >
                                    <td><span class="text-green">已启用</span></td>
                                    <else/>
                                    <td><span class="text-red">待审核</span></td>
                                </eq>
                                <td>
                                    <!-- <img src="__PUBLIC__/admin/img/z.png" class='del' alt="{$item.product_id}" title="删除">&nbsp;&nbsp; -->
                                    <a href="{:U("Product/detail")}?product_id={$item.product_id}&type={$item.status}"><img src="__PUBLIC__/admin/img/bianji.png" class='bianji' title="查看详情"></a>&nbsp;&nbsp;
                                    <!-- <a href="{:U("Product/productPeriod")}?product_id={$item.product_id}"><img src="__PUBLIC__/admin/img/jia.png" class='jia' title="添加期次"></a> -->
                                </td>
                            </tr>
                        </volist>
                        </tbody>

                    </table>
                    <else/>
                    <div style="text-align:center"><span style="color:#CCCCCC;font-size:18px">没有符合条件的记录</span></div>
                </notempty >
            </div>
            <!-- fpage -->
            <div class="page" style="text-align:center">{$page}</div>
        </div>
    </div>
    <style type="text/css">
    .state{
        text-align: center;
    }
    .type a{
        margin-left: 100px;
        color: #f60 !important;
    }
    </style>
    <script src="//cdn.bootcss.com/jquery/1.12.1/jquery.min.js"></script>

    <script type="text/javascript">
            $('.del').click(function(event) {
                var target_id = $(this).attr("alt");
                layer.confirm('确认要删除吗？', {
                        btn : [ '确定', '取消' ]//按钮
                    }, function(index) {
                        layer.close(index);
                         $.ajax({
                                url: "delProduct",
                                type: "POST",
                                data: {
                                    product_id:target_id
                                },
                                success:function(data){
                                    if (data.code==0) {
                                        layer.open({
                                            content:"删除成功"
                                        });
                                        $("#tae_"+target_id).remove();
                                    }else{
                                        layer.open({
                                            content:"删除失败"
                                        });
                                    }
                               },
                       });
                    }); 
                event.stopPropagation();
               
            });
    </script>>

</block>

