<extend name="../../Home/View/Public/base" />
<block name="page-content">
    <div class="view-product">
        <div class="info-center">
        <form role="form" method="POST">
            <div class="search_style table-margin">
                <div class="title_names text-blue">通知列表</div>
                <ul class="search_content clearfix">
                    <div class="text-c">
                        <input type="text" class="w10 height30 border" placeholder="公告发布人姓名" id="admin_name" name="admin_name" value="{$admin_name}">
                        <select name="type" style="width:100px" class="select input-text">
                            <option value="all" <if condition="$_GET['type'] eq 'all'">selected</if> >类型</option>
                            <option value="1" <if condition="$_GET['type'] eq '1'">selected</if> >获奖信息</option>
                            <option value="2" <if condition="$_GET['type'] eq '2'">selected</if> >动态/公告</option>
                        </select>
                        <select name="notice_status" style="width:100px" class="select input-text">
                            <option value="all" <if condition="$_GET['notice_status'] eq 'all'">selected</if> >状态</option>
                            <option value="0" <if condition="$_GET['notice_status'] eq '0'">selected</if> >未发布</option>
                            <option value="1" <if condition="$_GET['notice_status'] eq '1'">selected</if> >已发布</option>
                        </select>
                        <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
                        <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"> <a href="javascript:;" onclick="notice_add('发布新公告','{:U("Notice/createNotice")}')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 发布新公告</a></span> <span class="r">{$list.page}</span> </div>
                    </div>
                </ul>
            </div>
        </form>

            <div class="table-margin ">
                <notempty  name="list">
                    <table class="table table-hover">
                        <tr class="table-header border">
                            <th class="w5">ID</th>
                            <th class="w10">类型</th>
                            <th class="w10">标题</th>
                            <th class="w10">内容</th>
                            <th class="w10">发布人</th>
                            <th class="w20">创建时间</th>
                            <th class="w10">状态</th>
                            <th class="w10">操作</th>
                        </tr>

                        <tbody id="itemContainer">
                        <volist name="list" id="item">
                            <tr class="list">
                                <td>{$item.notice_id}</td>
                                <td>{$item.type}</td>
                                <td>{$item.notice_title}</td>
                                <td><a href="javascript:;" onclick="check_content('查看内容','{:U("notice/noticeInfo",array("notice_id"=>$item["notice_id"]))}','',1000,800)" style="text-decoration:none"> 点击查看内容</a></td>
                                <td>{$item.admin_name}</td>
                                <td>{$item.add_time|date='Y-m-d H:i', ###}</td>
                                <td>{$item.notice_status_name}</td>
                                <td>
                                    <if condition="$item['order_status'] neq 3">
                                        <a title="删除" href="javascript:;" onclick="system_category_del(this,{$item.notice_id})" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                                    </if>
                                </td>
                            </tr>
                        </volist>
                        </tbody>

                    </table>
                    <else/>
                    <div style="text-align:center"><span style="color:#CCCCCC;font-size:18px">没有符合条件的记录</span></div>
                </notempty >
            </div>
            <!-- fpage -->
            <div class="page">{$fpage}</div>
        </div>
    </div>
    <include file='Public/footer'/>
    <script src="//cdn.bootcss.com/jquery/1.12.1/jquery.min.js"></script>
    <script src="__PUBLIC__/default/js/laypage/1.2/laypage.js"></script>

    <script type="text/javascript">
    function check_content(title,url,id,w,h){
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }
    /*公告-发布*/
    function notice_add(title,url){
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }

    function system_category_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            $.ajax({
                type: 'POST',
                url: '<?php echo U("delNotice");?>',
                data: {'id':id},
                dataType: 'json',
                success: function(data){
                    if (data.status == 1){
                        $(obj).parents("tr").remove();
                        layer.msg(data.msg,{icon:1,time:1000});
                        window.location.reload();
                    }else {
                        layer.msg(data.msg,{icon:2,time:1000});
                    }

                },
                error:function(data) {
                    console.log(data.msg);
                },
            });
        });
    }

    </script>>

</block>

