<extend name="../../Home/View/Public/base" />
<block name="page-content">
<div class="pd-20">
<table class="table">
<h3>通知信息</h3>
    <tbody>
    <tr>
        <th class="text-r">通知类型：</th>
        <td>{$notice_info.type_name}</td>
    </tr>
    <tr>
        <th class="text-r">发布人：</th>
        <td>{$notice_info.admin_name}</td>
    </tr>
    <tr>
        <th class="text-r">指定通知用户：</th>
        <td>{$notice_info.user_name}</td>
    </tr>
	<tr>
		<th class="text-r">标题：</th>
        <td>{$notice_info.notice_title}</td>
	</tr>
    <tr>
        <th class="text-r">发布时间：</th>
        <td>{$notice_info.add_time|date='Y-m-d H:i', ###}</td>
    </tr>
	<tr>
		<th class="text-r">状态：</th>
        <td>{$notice_info.status_name}</td>
	</tr>
    
 </tbody>
</table>
{$notice_info.content}
</div>
<!-- {$content} -->
<include file="Public/footer" />
<!--/请在上方写此页面业务相关的脚本-->
</block>

